<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <!-- Address Bean -->

    <bean class="Autowire.Address" name="address">

        <property name="addId" value="1"/>
        <property name="city" value="BBSR"/>
        <property name="dist" value="Khurdha"/>
        <property name="state" value="Odisha"/>

    </bean>

    <!-- Student Bean -->

    <bean class="Autowire.Student" name="std" autowire="byName">

        <property name="id" value="101"/>
        <property name="name" value="Lorence"/>

    </bean>

</beans>